<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/iview/dist/styles/iview.css">
  <script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-beta.2/polyfill.min.js"></script>
  <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
  <script type="text/javascript" src="/iview/dist/iview.min.js"></script>
</head>
<body>
<div id="app">
  <Tabs></Tabs>
</div>

<script>
  
  Vue.component('Tabs', {
    template: '<div><Table height="200" :columns="columns1" :data="data2"></Table></div>',
    data() {
      return {
        columns1: [
          {
            title: '姓名',
            key: 'name'
          },
          {
            title: '年龄',
            key: 'age',
            render: (h, params) => {
              console.log(params);
              return h('InputNumber', {
                props: {
                  type: 'number'
                }
              })
            }
          },
          {
            title: '地址',
            key: 'address'
          }
        ],
        data2: [
          {
            name: '王小明',
            age: 18,
            address: '北京市朝阳区芍药居'
          },
          {
            name: '张小刚',
            age: 25,
            address: '北京市海淀区西二旗'
          },
          {
            name: '李小红',
            age: 30,
            address: '上海市浦东新区世纪大道'
          },
          {
            name: '周小伟',
            age: 26,
            address: '深圳市南山区深南大道'
          },
          {
            name: '王小明',
            age: 18,
            address: '北京市朝阳区芍药居'
          },
          {
            name: '张小刚',
            age: 25,
            address: '北京市海淀区西二旗'
          },
          {
            name: '李小红',
            age: 30,
            address: '上海市浦东新区世纪大道'
          },
          {
            name: '周小伟',
            age: 26,
            address: '深圳市南山区深南大道'
          }
        ]
      }
    }
  });
  
  new Vue({
    el: '#app',
    data() {
      return {
        
      }
    },
    methods: {
      show: function () {
        this.visible = true;
      },
      remoteMethod2 (query) {
        if (query !== '') {
          this.loading2 = true;
          fetch('http://localhost:8091/api/server1')
          .then(res=> res.json())
          .then(data=> {
            console.log(data);
            this.loading2 = false;
            this.options2 = data.filter(item => item.label.toLowerCase().indexOf(query.toLowerCase()) > -1);
          })
          .catch(err => console.error(err));
  
        } else {
          this.options2 = [];
        }
      }
    }
  })
  
</script>

</body>
</html>